        <h2>
            Список доступных страниц
        </h2>
        <p>
            <a href="/">Главная страница</a> </br>
            <a href="/text">Страница с текстом</a> </br>
            <a href="/input">Страница с полем для ввода</a> </br>
            <a href="/table">Страница с таблицей</a> </br>
            <a href="/login">Страница для входа</a> </br>
            <a href="/registr">Регистрация</a> </br>
            <a href="/profile">Профиль авторизированного пользователя</a> </br>
        </p>
    </body>
</html>