    <%- include('partials/header', { pageTitle: "Web-сервер"}) %>
    <main>
        Добро пожаловать!
    </main>

    <p>
        Это главная страница моего супер-мега сервера с шаблонами
    </p>
    <%- include('partials/footer') %>
