<%- include('partials/header', { pageTitle: "Страница с таблицей"}) %>
<main>
    Тут страница с таблицей
</main>

<p>
    Сама табличка
</p>

<table>
    <thead>
        <tr>
            <th>
                1
            </th>
            <th>
                1
            </th>
            <th>
                1
            </th>
            <th>
                1
            </th>
        </tr>
    </thead>
    <tr>
        <td>
            2
        </td>
        <td>
            2
        </td>
        <td>
            2
        </td>
        <td>
            2
        </td>
    </tr>
</table>

<%- include('partials/footer') %>
